h1, h2 {
    text-align: center;
}

h1 {
    font-size: 5em;
}

.left-background {
    position: absolute;
    background-color: salmon;
    width: 50vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.content {
    position: absolute;
    /* background-color: purple; */
    width: 40%;
    height: 40%;
    top: 30vh;
    left: 30vw;
    padding-top: 0;
}

.start-quiz-button {
    display: block;
    margin: 0 auto;
    /* width: 30%; */
    /* height: 15%; */
    width: 250px;
    height: 70px;
    border-radius: 40px;
    margin-top: 5%;
    background-color: blue;
    border-color: transparent;
    font-size: 1.5em;
    transition: transform .5s, background-color .5s;
}

.start-quiz-button:hover {
    background-color: salmon;
    transform: scale(1.2)
}

/* remove outline when button is clicked or focused on */
.start-quiz-button:focus {
    outline: none;
}

/* remove underlining when hovering over button */
.start-quiz-link:hover {
    text-decoration: none;
}