label {
    margin-right: 5%;
}

.content {
    position: relative;
    width: 30vw;
    height: 60vh;
    min-width: 390px;
    background-color: salmon;
    margin: 0 auto;
    margin-top: 10vh;
    padding: 2%;
    border-radius: 20px;
    font-size: 1.5em;
    opacity: 0;
}


.content {
    display: none;
}

.start-quiz-button {
    display: block;
    position: absolute;
    background-color: salmon;
    width: 20%;
    height: 10%;
    border-radius: 60px;
    border-color: transparent;
    font-size: 1.5em;
    top: 45vh;
    left: 40vw;
    font-size: 3em;
    transition: transform .5s;
}

.start-quiz-button:hover {
    transform: scale(1.2);
}

.nextBtn {
    right: 4%;
    bottom: 4%;
}

.previousBtn {
    left: 4%;
    bottom: 4%;
}

.previousBtn, .nextBtn {
    position: absolute;
    width: 30%;
    height: 10%;
    border-radius: 20px;
    background-color: white;
    border-color: white;
    transition: transform .5s;
}

.previousBtn:hover, .nextBtn:hover {
    transform: scale(1.2);
}

.previousBtn:focus, .nextBtn:focus {
    outline: none;
}